/*
 * Buttons
 */

 button {
   display: inline-block;
   padding: 0 1rem;
   margin: 0.5rem;
   text-transform: uppercase;
   background: linear-gradient(#444a4a 0%, #373c3c 50%, #2d3232 100%);
   border: 1px solid #1c1f1f;
   border-radius: 3px;
   font-size: 0.8rem;
   color: inherit;
   cursor: pointer;
 }

 button::focus, button::hover {
   background: : linear-gradient(#282d2d 0%, #2c3131 100%);
 }

/*
 * input file selection
 */

.input-file-trigger {
  display: table-row;
  padding: 1rem 1rem;
  margin-top: 1px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  width: calc(100% - 1.6rem);
}
