/*
 * Panels
 */

.split {
  display: flex;
  height: 100%;
}

.split > :nth-child(1) {
  overflow: scroll;
}

.split > :nth-child(2) {
    flex-grow: 1;
}

/* Vertical */

.split.vertical {
  flex-direction: column;
}

/* Horizontal */

.split.horizontal {
  flex-direction: row;
}

.panel--config {
  display: inline-flex;
  min-width: 16rem;
  flex-direction: column;
  -webkit-user-select: none;
  overflow-y: scroll;
  padding: 0.25rem 1rem;
  position: relative;
}

.panel--main {
  display: inline-flex;
  flex-direction: column;
  -webkit-user-select: none;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0;
}

.split.horizontal .handle {
  display: inline-block;
  background: #777;
  width: 10px;
  height: 100%;
  flex-grow: 0;
  cursor: col-resize;
  position: absolute;
  left: calc(100% - 10px);
  top: 0;
}

.split.vertical .handle {
  display: inline-block;
  background: #777;
  height: 10px;
  width: 100%;
  cursor: row-resize;
  position: absolute;
  left: 0;
  top: calc(100% - 10px);
}
