@import url('reset.css');
@import url('panel.css');
@import url('titlebar.css');
@import url('button.css');
@import url('table.css');
@import url('forms.css');
@import url('videoplayer.css');

/*
 * Dashboard
 */

.dashboard__item {
  padding: 1rem;
  margin: 0.5rem;
  color: #fff;
  border-radius: 3px;
}
