/*
 * Table with group
 */

.table {
  display: table;
  width: 100%;
}

.table__header {
  display: table-row;
  width: calc(100% - 16rem);
  background: #3e4444;
  border-bottom: 1px solid #1c1f1f;
  position: absolute;
  top: 0;
}

.table__header > * {
  border-right: 1px solid #fff;
}

.table__header > *:last-child {
  border: none;
}

.chapter {
  display: table-row;
  width: 100%;
  border-bottom: 1px solid #444a4a;
  vertical-align: top;
}

.chapter:nth-child(2n+1) {
  background: rgba(255, 255, 255, 0.1)
}

.chapter:hover {
  background: rgba(255, 255, 255, 0.3)
}

.chapter > * {
  line-height: 100%;
  vertical-align: top;
}

.table .chapter.selected {
  background: rgba(200, 200, 255, 0.3);
}

.chapter__title {
  display: inline-block;
  min-width: 8em;
  max-width: 32em;
  width: 25%;
  text-overflow: ellipsis;
  padding: 0 0.5rem;
}

.chapter__start, .chapter__end, .chapter__duration {
  display: inline-block;
  min-width: 7.09em;
  width: 25%;
  background: transparent;
  color: #fff;
  padding: 0 0.5em;
}

.chapter__origin, .chapter__framerate {
  display: none !important;
}

.group {
  list-style-type: none;
}

.children, .tree {
  display: table;
  width: 100%;
  margin-top: 1.2em;
  overflow: visible;
}

.children .chapter__title {
  padding-left: 20px;
}

.chapter > *:focus, .chapter > *:active{
  background: #39D2B4;
}
